<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong>Дата записи дневника:</strong>
    <%= f.date_select :publishdate %>
  </div>
  <div class="field">
    <strong>Автор:</strong>
      <%- if @post.new_record? -%>
        <%= f.text_field :name, :value => current_user.email, :disabled => 'disabled' %> 
      <%- else %>
        <%= f.text_field :name, :disabled => 'disabled' %>
      <%- end %>
  </div>
  <div class="field">
    <strong>Заголовок(Главное за день):</strong>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <strong>Задания на день:</strong>
    <%= f.text_area :tasks %>
  </div>
  <div class="field">
    <strong>Рефлексия за день:</strong>
    <%= f.text_area :reflection %>
  </div>
  <div class="field">
    <strong>Каие проявления ЭГО заметили:</strong>
    <%= f.text_area :ego %>
  </div>
  <div class="field">
    <strong>Рацпредложения:</strong>
    <%= f.text_area :efficiences %>
  </div>
  <div class="field">
    <strong>Количество переговоров</strong>
    <%= f.text_field :negotiations %>
  </div>
  <div class="field">
    <strong>Правильных переговоров</strong>
    <%= f.text_field :correctnegotiations %>
  </div>
  <div class="field">
    <strong>Подсмотренные/придуманные рацпредложения</strong>
    <%= f.text_field :efficiencies %>
  </div>
  <div class="field">
    <strong>Сколько внедрено рацпредложений ?</strong>
    <%= f.text_field :embeddedefficiencies %>
  </div>
  <div class="field">
    <strong>Велся ли хронометраж ?</strong>
    <%= f.check_box :chronometry %>
  </div>
  <div class="field">
    <strong>Был ли золотой час ?</strong>
    <%= f.check_box :goldhour %>
  </div>
  <div class="field">
    <strong>Когда проснулся ?</strong>
    <%= f.time_select :wakeuptime, :minute_step => 5 %>
  </div>
  <div class="field">
    <strong>Когда лег спать ?</strong>
    <%= f.time_select :gosleeptime, :minute_step => 5 %>
  </div>
  <div class="field">
    <strong>Час искренности (заполняют другие участники)</strong>
    <%= f.text_area :sincerityhour %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
