<h1 style="color: blue">Записи дневника соревнований:</h1>
<div style="float:right">
<%= link_to 'Добавить новую запись', new_post_path %> <a href="/"> Главная </a>
</div>
<hr>

<% @posts.reverse.each do |post| %>
<br />
<br />
<div  style="color:#<%= Post.color[post.userid] %>">
  <h3 class="header"><%= Post.weekday[post.publishdate.wday] %>, <%= post.publishdate %>&nbsp;:&nbsp; <%= post.title %></h3>
  <strong>Автор:</strong> <span class="authorname"><% user=User.find(post.userid) %><%= user.username %></span>, <strong>Дата:</strong> <%= post.publishdate %>
<br>


<div class="content">
  <h3 class="item">Задания на день</h3> 
    <%= raw textilize(post.tasks) %>

  <h3 class="item">Что сделано, рефлексия</h3> 
    <%= raw textilize(post.reflection) %>

  <h3 class="item">Ошибки и проявления ЭГО</h3> 
    <%= raw textilize(post.ego) %>

  <h3 class="item">Рацпредложения</h3> 
<%= raw textilize(post.efficiences) %>

</div>

<div class="resulttable">
 <table border=1>
  <tr>
    <th>Переговоры</th>
    <th>Правильные перегов.</th>
    <th>Рацпредложения</th>
    <th>Внедрен. рацпр.</th>
    <th>Хронометраж</th>
    <th>Золотой час</th>
    <th>Проснулся</th>
    <th>Лег спать</th>
  </tr>

  <tr>
    <td><%= post.negotiations %></td>
    <td><%= post.correctnegotiations %></td>
    <td><%= post.efficiencies %></td>
    <td><%= post.embeddedefficiencies %></td>
    <td><%= raw post.chronometry? ? '<strong style="color:red">+</strong>' : '<strong style="color:blue">–</strong>' %></td>
      <td><%= raw post.goldhour? ? '<strong style="color:red">+</strong>' : '<strong style="color:blue">–</strong>' %></td>
    <td><%= "#{post.wakeuptime.hour}:#{post.wakeuptime.min}" %></td>
    <td><%= "#{post.gosleeptime.hour}:#{post.gosleeptime.min}" %> </td>
  </tr>
 </table>
</div> <!--resulttable-->

<h3 class="item">Час искренности</h3>
<% if !post.comments.present? %>
    <p class="notice">Пока еще нет записей в часе искренности</p>
<% end %>

<!-- post.sincerityhour -->
<% post.comments.each do |comment| %>
  <p>
    <strong>Автор:</strong>
    <% user=User.find(comment.commenterid) %>
    <%= user.username %>
  </p>
 
  <p>
    <strong>Отзыв:</strong>
  <%= raw textilize(comment.body) %>
  </p>
<% end %>


    <div style="float:right">
      <%= link_to 'Показать', post %>
      <%= link_to 'Редактировать', edit_post_path(post) %>
      <%= link_to 'Удалить', post, :confirm => 'Вы уверенны, удаляем ?', :method => :delete %>
    </div>
    <hr class="list">
</div>
<% end %>

<br />
<%= link_to 'Добавить новую запись', new_post_path %> <a href="/"> Главная </a>
<br />

