<h1 style="color: blue">Записи дневника соревнований:</h1>
<hr>

<% color= ['000','fff','ddf', 'ddd', 'dfd', 'dff', 'fdd', 'fdf', 'ffd', 'fff'] %>

<% @posts.each do |post| %>
<div  style="background-color:#<%= color[post.userid] %>">
<h3 class="header"><%= post.title %></h3>
  <strong>Автор:</strong> <span class="authorname"><% user=User.find(post.userid) %><%= user.username %></span>, <strong>Дата:</strong> <%= post.publishdate %>
<br>


<div class="content">
  <h3 class="item">Задания на день</h3> 
    <%= raw textilize(post.tasks) %>

  <h3 class="item">Рефлексия</h3> 
    <%= raw textilize(post.reflection) %>

  <h3 class="item">Проявления ЭГО</h3> 
    <%= raw textilize(post.ego) %>

  <h3 class="item">Рацпредложения</h3> 
<%= raw textilize(post.efficiences) %>

</div>

<div class="resulttable">
 <table border=1>
  <tr>
    <th>Переговоры</th>
    <th>Правильные перегов.</th>
    <th>Рацпредложения</th>
    <th>Внедрен. рацпр.</th>
    <th>Хронометраж</th>
    <th>Золотой час</th>
    <th>Проснулся</th>
    <th>Лег спать</th>
  </tr>

  <tr>
    <td><%= post.negotiations %></td>
    <td><%= post.correctnegotiations %></td>
    <td><%= post.efficiencies %></td>
    <td><%= post.embeddedefficiencies %></td>
    <td><%= post.chronometry %></td>
    <td><%= post.goldhour %></td>
    <td><%= "#{post.wakeuptime.hour}:#{post.wakeuptime.min}" %></td>
    <td><%= "#{post.gosleeptime.hour}:#{post.gosleeptime.min}" %> </td>
  </tr>
 </table>
</div> <!--resulttable-->

<h3 class="item">Час искренности</h3>
<!-- post.sincerityhour -->
<% post.comments.each do |comment| %>
  <p>
    <strong>Автор:</strong>
    <% user=User.find(comment.commenterid) %>
    <%= user.username %>
  </p>
 
  <p>
    <strong>Отзыв:</strong>
  <%= raw textilize(comment.body) %>
  </p>
<% end %>


</div>
    <div style="float:right">
      <%= link_to 'Показать', post %>
      <%= link_to 'Редактировать', edit_post_path(post) %>
      <%= link_to 'Удалить', post, :confirm => 'Вы уверенны, удаляем ?', :method => :delete %>
    </div>
    <hr class="list">
<% end %>

<br />
<%= link_to 'Добавить запись', new_post_path %> <a href="/"> Главная </a>
<br />

