<p id="notice"><%= notice %></p>

<p>
  <b>Дата публикации:</b>
  <%= @post.publishdate %>
</p>

<p>
  <b>Автор:</b>
  <span style="color:red">
    <% user=User.find(@post.userid) %>
    <%= user.username %>
  </span>
  <span style="color:green">ID:<%= @post.userid %></span>
</p>


<p>
  <b>Заголовок:</b>
  <%= @post.title %>
</p>

<p>
  <b>Задачи на день:</b>
  <%= raw RedCloth.new(@post.tasks).to_html %>
</p>

<p>
  <b>Рефлексия:</b>
  <%= raw textilize(@post.reflection) %>
</p>

<p>
  <b>Проявление эго:</b>
  <%= raw textilize(@post.ego) %>
</p>

<p>
  <b>Рацпредложения:</b>
  <%= raw textilize(@post.efficiences) %>
</p>



<div class="resulttable">
 <table border=1>
  <tr>
    <th>Переговоры</th>
    <th>Правильные перегов.</th>
    <th>Рацпредложения</th>
    <th>Внедрен. рацпр.</th>
    <th>Хронометраж</th>
    <th>Золотой час</th>
    <th>Проснулся</th>
    <th>Лег спать</th>
  </tr>

  <tr>
    <td><%= @post.negotiations %></td>
    <td><%= @post.correctnegotiations %></td>
    <td><%= @post.efficiencies %></td>
    <td><%= @post.embeddedefficiencies %></td>
    <td><%= @post.chronometry %></td>
    <td><%= @post.goldhour %></td>
    <td><%= "#{@post.wakeuptime.hour}:#{@post.wakeuptime.min}" %></td>
    <td><%= "#{@post.gosleeptime.hour}:#{@post.gosleeptime.min}" %> </td>
  </tr>
 </table>
</div> <!--resulttable-->


<br />
<div style="float:right">
<%= link_to 'Редактировать', edit_post_path(@post) %> |
<%= link_to 'Назад', posts_path %>
</div>
<p>
  <b>Час искренности:</b>
  <%= raw textilize(@post.sincerityhour) %>
</p>
<p><a href="/posts">Нажмите здесь, чтобы перейти к дневнику.</a></p>
