<p id="notice"><%= notice %></p>

<p>
  <b>Publishdate:</b>
  <%= @post.publishdate %>
</p>

<p>
  <b>Name:</b>
  <%= @post.name %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Tasks:</b>
  <%= raw RedCloth.new(@post.tasks).to_html %>
</p>

<p>
  <b>Reflection:</b>
  <%= raw textilize(@post.reflection) %>
</p>

<p>
  <b>Ego:</b>
  <%= raw textilize(@post.ego) %>
</p>

<p>
  <b>Efficiences:</b>
  <%= raw textilize(@post.efficiences) %>
</p>

<p>
  <b>Sincerityhour:</b>
  <%= @post.sincerityhour %>
</p>

<p>
  <b>Negotiations:</b>
  <%= @post.negotiations %>
</p>

<p>
  <b>Correctnegotiations:</b>
  <%= @post.correctnegotiations %>
</p>

<p>
  <b>Efficiencies:</b>
  <%= @post.efficiencies %>
</p>

<p>
  <b>Embeddedefficiencies:</b>
  <%= @post.embeddedefficiencies %>
</p>

<p>
  <b>Chronometry:</b>
  <%= @post.chronometry %>
</p>

<p>
  <b>Goldhour:</b>
  <%= @post.goldhour %>
</p>

<p>
  <b>Wakeuptime:</b>
  <%= @post.wakeuptime %>
</p>

<p>
  <b>Gosleeptime:</b>
  <%= @post.gosleeptime %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
