<h2>Results table</h2>

<div class="resulttable">
 <table border=1>
  <tr>
    <th>Дата</th>
    <th>User</th>
    <th>Переговоры</th>
    <th>Правильные перегов.</th>
    <th>Рацпредложения</th>
    <th>Внедрен. рацпр.</th>
    <th>Хронометраж</th>
    <th>Золотой час</th>
    <th>Проснулся</th>
    <th>Лег спать</th>
    <th><strong>Show</strong></th>
    <th><strong>Edit</strong></th>
  </tr>

  <% @posts.each do |post| %>
   <tr style="background-color:#<%= Post.bgcolor[post.userid] %>">
    <td><%= post.publishdate %></td>
    <td> <span class="authorname"><% user=User.find(post.userid) %><%= user.username %> </span></td>
    <td><%= post.negotiations %></td>
    <td><%= post.correctnegotiations %></td>
    <td><%= post.efficiencies %></td>
    <td><%= post.embeddedefficiencies %></td>
    <td><%= raw post.chronometry? ? '<strong style="color:red">+</strong>' : '<strong style="color:blue">–</strong>' %></td>
    <td><%= raw post.goldhour? ? '<strong style="color:red">+</strong>' : '<strong style="color:blue">–</strong>' %></td>
    <td><%= "#{post.wakeuptime.hour}:#{post.wakeuptime.min}" %></td>
    <td><%= "#{post.gosleeptime.hour}:#{post.gosleeptime.min}" %> </td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
  </tr>
   <% end %>
  </table>
</div> <!--resulttable-->
<br>

