<!DOCTYPE html>
<html>
<head>
  <title>Game</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all, :cache => true %>
    <%= stylesheet_link_tag 'markitup/style' %>
    <%= stylesheet_link_tag 'textile/style' %>

<script type="text/javascript" >
   $(document).ready(function() {
      $("textarea").markItUp(mySettings);
   });
</script>

<script language="javascript" type="text/javascript">
    $(function() {
      $('.content').truncate({max_length: 124});
    });
</script>

  <%= csrf_meta_tag %>
</head>
<body>
         <p class="notice"><%= notice %></p>
         <p class="alert"><%= alert %></p>
  <span style="font-size:2.2em; font-weight:bold;"><a href="/">The Game - система соревнований студентов ИЮМ</a></span>
  <div style="float:right"><a href="/">Сводная таблица</a>&nbsp;&nbsp;&nbsp;<a href="/texts/1">Правила соревенований</a>&nbsp;&nbsp;&nbsp;</div>
 <div id="user_nav">
  <% if user_signed_in? %>
    Вы вошли как <%= current_user.email %>. Это не вы?
    <%= link_to "Выйти", logout_path %>&nbsp;&nbsp;<%= link_to "Редактировать пользователя", edit_user_registration_path %> 
  <% else %>
    <%= link_to "Зарегистрируйтесь", new_user_registration_path %> или <%= link_to "Войдите", new_user_session_path %>
  <% end %>
</div> 
  <hr />
  <%= yield %>

</body>
</html>
