<!DOCTYPE html>
<html>
<head>
  <title>Game</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all, :cache => true %>
    <%= stylesheet_link_tag 'markitup/style' %>
    <%= stylesheet_link_tag 'textile/style' %>

<script type="text/javascript" >
   $(document).ready(function() {
      $("textarea").markItUp(mySettings);
   });
</script>

<script language="javascript" type="text/javascript">
    $(function() {
      $('.content').truncate({max_length: 124});
    });
</script>

  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
